<!DOCTYPE html>
		<html>
			<head>
				<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
				<script src="../../js/input.js"></script>
				<meta charset="utf-8">
					<title>тест</title>
			</head>
			<body>
			<header>
				<nav>
					<ul class="top-menu">
						<li class="active"><a href="/film/index">Главная страница</a></li>
						<li><a href="/film/add">Добавить фильм</a></li>
						<li><a href="/film/import">Импорт с файла</a></li>
					</ul>
				</nav>
			</header>
				<div class="main_content">
					<?=$data?>
				</div>
			</body>
		</html>